/*<styles for load screen>*/
@keyframes loading {
	0%{
         	opacity:0;
		r:80;		 
	}
     	5%{
         	opacity:1;
     	}
	10% { 
		stroke: #0000004d;
	}
	90% { 
		opacity:1; 
	}
     	100%{
         	r:10;
         	opacity:0;
     	}
}
.SVGloaderCirc1,.SVGloaderCirc2{
  cx:50%;
  cy:50%;
  fill:rgba(0,0,0,0);
  stroke-width:10;
  stroke:rgba(0,0,0,0);
  r:80;
  animation:loading 3s cubic-bezier(.37,1.14,.67,-0.33) infinite;
}
.SVGloaderCirc2{
  animation:loading 4s cubic-bezier(.7,1.80,.6,-0.55) infinite;
}
.loadscreen{
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #1b5f5fba;
}
/*</styles for load screen>*/

/*<styles for loadscreen start>*/
.loadscreen.start{
  background: #1b5f5f;
  position: fixed;
}
/*</styles for loadscreen start>*/